<div class="three cell" ng-include="template.containers.sideMenu"></div>

<article class="nine cell twelve-mobile" ng-if="!forceToClose">
	<form class="row" guard-root>
		<div class="row">
			<input type="text" ng-model="page.title" i18n-placeholder="wiki.page.createform.input.placeholder" class="twelve cell" />
		</div>
		<div class="row">
			<input type="checkbox" ng-model="page.isIndex" />
			<i18n>wiki.page.createform.set.as.index</i18n>
		</div>
		<div class="row">
			<editor onboardingvideo ng-model="page.content" input-guard></editor>
		</div>
		<div class="row">
			<button class="right-magnet" reset-guard="createPage()" translate content="wiki.page.createform.save"></button>
			<button class="right-magnet cancel" navigation-trigger="cancelCreatePage(selectedWiki)" translate content="wiki.page.createform.cancel"></button>
		</div>
		<div class="clear"></div>
	</form>
</article>