<div class="three cell" ng-include="template.containers.sideMenu"></div>

<article class="nine cell">
	<div class="row">
		<h2>
			<i18n>wiki.page.duplicateform.duplicate.page</i18n>
			<em>[[selectedWiki.page.title]]</em>
			<i18n>wiki.page.duplicateform.in.a.wiki.of.your.choice</i18n>
		</h2>
	</div>
	<hr class="row"/>
	<form class="row">
		<div class="row">
			<input type="text" ng-model="wikiDuplicate.page.title" class="twelve cell" 
			i18n-placeholder="wiki.page.duplicateform.title.input.placeholder"/>
		</div>
		<hr class="row"/>
		<div class="row">
			<i18n>wiki.choose</i18n>
			<select class="twelve cell" ng-model="wikiDuplicate.targetWikiId" 
			ng-init="canCreatePage(selectedWiki) ? (wikiDuplicate.targetWikiId = selectedWiki._id) : (wikiDuplicate.targetWikiId = wikis.all.filter(canCreatePage)[0]._id)" 
			ng-options="wiki._id as wiki.title for wiki in wikis.all.filter(canCreatePage)" required>
			</select>
		</div>
		<hr class="row"/>
		
		<div class="row">
			<button class="right-magnet" ng-click="duplicatePage()" translate content="wiki.page.duplicateform.save"></button>
			<button class="right-magnet cancel" ng-click="cancelDuplicatePage()" translate content="wiki.page.duplicateform.cancel"></button>
		</div>
	</form>
</article>