.wiki-sniplet {
  margin-top: 20px;
}

.wiki-sniplet .row {
  min-height: initial;
}

.media .wiki-sniplet [contenteditable] {
  position: relative;
}

.toggle-panel.sniplet {
  width: 400px;
  right: -28px;
  height: auto;
}

.toggle-panel.sniplet .toggle {
  width: 400px;
  display:block;
  overflow:auto;
}

ul.icons-tabs.sniplet {
  right: -73px;
}

.toggle-panel.sniplet.hide {
  overflow: hidden;
  width: 0;
  -o-transition: width 250ms ease;
  -moz-transition: width 250ms ease;
  -webkit-transition: width 250ms ease;
  transition: width 250ms ease;
}
