<article>
	<form class="row">
		<div class="row">
			<input type="text" ng-model="page.title" required translate-attr="placeholder" placeholder="wiki.page.createform.input.placeholder" class="twelve cell" />
		</div>
		<div class="row">
			<html-editor ng-model="page.content"></html-editor>
		</div>
		<div class="row">
			<button class="right-magnet" ng-click="createPage()" translate content="wiki.page.createform.save"></button>
			<button class="right-magnet cancel" ng-click="cancelCreatePage(selectedWiki)" translate content="wiki.page.createform.cancel"></button>
		</div>
		<div class="clear"></div>
	</form>
</article>