<div class="three cell">
	<nav class="vertical">
		<h2>Wikis</h2>
		<ul>
			<li>
				<a data-reload href="/wiki">
					Parcourir les wikis
				</a>
			</li>
			<li>
				<a ng-click="listPages(selectedWiki._id)">
					Liste des pages
				</a>
			</li>
			<li ng-if="selectedWiki.index.length > 0">
				<a ng-click="openSelectedPage(selectedWiki._id, selectedWiki.index)">Page d'accueil</a>
			</li>
		</ul>
	</nav>
</div>
<article class="nine cell">
	<form class="row">
		<div class="row">
			<input type="text" ng-model="page.title" translate-attr="placeholder" placeholder="wiki.page.createform.input.placeholder" class="twelve cell" />
		</div>
		<div class="row">
			<input type="checkbox" ng-model="page.isIndex" />
			<i18n>wiki.page.createform.set.as.index</i18n>
		</div>
		<div class="row">
			<html-editor ng-model="page.content"></html-editor>
		</div>
		<div class="row">
			<button class="right-magnet" ng-click="createPage()" translate content="wiki.page.createform.save"></button>
			<button class="right-magnet cancel" ng-click="cancelCreatePage(selectedWiki)" translate content="wiki.page.createform.cancel"></button>
		</div>
		<div class="clear"></div>
	</form>
</article>