<div class="row rigid-grid">
	<div class="three cell" ng-include="template.containers.sideMenu"></div>

	<div class="margin-three" ng-if="!forceToClose">
		<article class="twelve cell">
			<form class="twelve cell">
				<div class="row" guard-root>
					<input type="text" ng-model="selectedWiki.editedPage.title" class="twelve cell" />
				</div>
				<div class="row">
					<input type="checkbox" ng-model="selectedWiki.editedPage.isIndex"/>
					<i18n>wiki.page.editform.set.as.index</i18n>
				</div>
				<div>
					<editor onboardingvideo ng-model="selectedWiki.editedPage.content" input-guard></editor>
				</div>
				<div class="row">
					<button class="right-magnet" reset-guard="updatePage()" translate content="wiki.page.editform.save"></button>
					<button  class="right-magnet cancel" navigation-trigger="cancelEditPage(selectedWiki)" translate content="wiki.page.editform.cancel"></button>
				</div>
				<div class="clear"></div>
			</form>
		</article>
	</div>

</div>
