<div class="row">
	<hr />
</div>

<article class="row">
	<section class="row">
		<form class="row reduce-block-six">
			<div class="row">
				<div class="one cell clip fixed-block height-one">
					<div class="absolute" loading-panel="upload-wiki-thumbnail">
						<image-select ng-model="wiki.thumbnail" default="/img/illustrations/wiki-default.png"></image-select>
					</div>
				</div>
				<div class="eleven cell reduce-block-eight">
					<input type="text" ng-model="wiki.title" class="twelve cell" />
					<div class="row">
						<hr class="row" />
					</div>
					<media-select ng-model="wiki.thumbnail" translate-attr="label" label="wiki.editform.change.picture" file-format="'img'"></media-select>
				</div>
			</div>
			<div class="row reduce-block-eight">
				<input type="submit" ng-click="updateWiki()" translate-attr="value" class="button right-magnet" value="wiki.editform.save">
				<input type="button" class="button right-magnet cancel" translate-attr="value" ng-click="cancelEditWiki()" value="wiki.editform.cancel">
				<div class="clear"></div>
			</div>
		</form>

	</section>
</article>

<div class="clear"></div>