<article class="row">
	<form>
		<div class="rigid-grid row">
			<div class="two cell clip height-two">
				<div class="absolute" loading-panel="upload-wiki-thumbnail">
					<image-select ng-model="wiki.thumbnail" default="/img/illustrations/wiki-default.png"></image-select>
				</div>
			</div>
			<div class="margin-two height-two">
				<div class="twelve cell horizontal-spacing">
					<input type="text" ng-model="wiki.title" class="twelve cell" i18n-placeholder="wiki.title" />
					<div class="row">
						<hr class="row" />
					</div>
				</div>
				<div class="row bottom-locked">
					<button ng-click="updateWiki()" class="right-magnet">
						<i18n>wiki.editform.save</i18n>
					</button>
					<input type="button" class="button right-magnet cancel" ng-click="cancelEditWiki()" i18n-value="wiki.editform.cancel">
				</div>
			</div>
		</div>
	</form>
</article>