<nav class="contextual-buttons row">
	<div class="action-buttons">
		<button ng-click="displayCreateWikiForm()" workflow="wiki.create" translate content="wiki.create"></button>
	</div>

	<div class="display-buttons">
		<i class="show-list"
		   ng-class="{ selected: display.viewWikisAs === 'list' }"
		   ng-click="display.viewWikisAs = 'list'"></i>
		<i class="show-icons"
			ng-class="{ selected: display.viewWikisAs === 'icons' }"
			ng-click="display.viewWikisAs = 'icons'"></i>
	</div>
</nav>

<div class="twelve cell" workflow="wiki.list">
	<!-- Display wikis as a list -->
	<div ng-if="display.viewWikisAs === 'list'">
		<table show="display.viewWikisAs === 'list'" class="twelve">
			<thead>
				<tr>
					<th><input type="checkbox" ng-model="display.selectWikis" ng-change="switchAllWikis()" /></th>
					<th><i18n>wiki.table.head.title</i18n></th>
					<th><i18n>wiki.table.head.author</i18n></th>
					<th><i18n>wiki.table.head.modificationDate</i18n></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="wiki in wikis.all" ng-class="{ checked: wiki.selected }">
					<td><input type="checkbox" ng-model="wiki.selected" /></td>
					<td ng-click="openSelectedWiki(wiki)"><a>[[wiki.title]]</a></td>
					<td ng-click="openSelectedWiki(wiki)">[[wiki.owner.displayName]]</td>
					<td ng-click="openSelectedWiki(wiki)">[[formatDate(wiki.modified)]]</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<!-- Display wikis as icons -->
	<div ng-if="display.viewWikisAs === 'icons'">
	  <div show="display.viewWikisAs === 'icons'" class="icons-view">
		  <article>
				<div ng-repeat="wiki in wikis.all" ng-class="{ checked: wiki.selected }" class="element reduce-block-six">
				  <div ng-click="openSelectedWiki(wiki)" class="img container">
					<div class="clip twelve cell height-twelve"><img class="absolute" skin-src="[[getWikiThumbnail(wiki)]]" /></div>
				  </div>
				  <input type="checkbox" data-ng-model="wiki.selected"/>
				  <legend>
				    <a ng-click="openSelectedWiki(wiki)" class="medium-text">[[wiki.title]]</a>
					<strong class="small-text">[[wiki.owner.displayName]]</strong>
				  </legend>
				</div>
				<div class="clear"></div>
			</article>
	  </div>
	</div>
		
	<!-- Lightbox to share wikis -->
	<div ng-if="display.showPanel">
		<lightbox show="display.showPanel" on-close="display.showPanel = false;">
			<share-panel app-prefix="'wiki'" resources="wikis.selection()"/>
		</lightbox>
	</div>
	
	<!-- Lightbox to confirm wiki deletion -->
	<div ng-if="display.showConfirmDelete">
		<lightbox show="display.showConfirmDelete" on-close="display.showConfirmDelete = false">
		<h2><i18n>wiki.confirmdeleteform.title</i18n></h2>
		<p><i18n>wiki.confirmdeleteform.message</i18n></p>
		<p ng-repeat="aWiki in wikis.selection()">[[aWiki.title]]</p>
		<div class="row">
			<button ng-click="deleteWikiSelection()" class="right-magnet">
				<i18n>wiki.confirmdeleteform.title.delete</i18n>
			</button>
			<button ng-click="display.showConfirmDelete = false" class="cancel right-magnet">
				<i18n>wiki.confirmdeleteform.title.cancel</i18n>
			</button>
		</div>
		</lightbox>
	</div>	
	
</div>

<!-- Display actions for selected wikis -->
<section class="toggle-buttons" ng-class="{ hide: wikis.selection().length === 0 }">
	<div class="toggle block-container">
		<div class="row">
			<behaviour name="edit" resource="wikis.selection()" class="cell">
				<button ng-if="wikis.selection().length === 1"
					ng-click="displayEditWikiForm(wikis.selection()[0])"
				>
					<i18n>wiki.update</i18n>
				</button>
			</behaviour>
			<behaviour name="deleteWiki" resource="wikis.selection()" class="cell">
				<button ng-click="display.showConfirmDelete = true">
					<i18n>wiki.delete</i18n>
				</button>
			</behaviour>
			<behaviour name="share" resource="wikis.selection()" class="cell">
				<button ng-click="display.showPanel = true">
					<i18n>wiki.share</i18n>
				</button>
			</behaviour>
		</div>
	</div>
</section>