<div class="row rigid-grid">
	<div class="three cell" ng-include="template.containers.sideMenu"></div>

	<ul class="margin-three toc">
		<div class="twelve cell">
			<alphabetical list="page in selectedWiki.pages.all" class="twelve cell">
				<li>
					<a ng-if="page._id === selectedWiki.index" ng-href="#/view/[[selectedWiki._id]]/[[page._id]]">
						[[page.title]]
						<em>[<i18n>wiki.homepage.label</i18n>]</em>
					</a>
					<a ng-if="page._id !== selectedWiki.index" ng-href="#/view/[[selectedWiki._id]]/[[page._id]]">[[page.title]]</a>
				</li>
			</alphabetical>
			<li ng-if="selectedWiki.pages.all.length === 0"><i18n>wiki.contains.no.page</i18n></li>
		</div>
	</ul>
</div>
