<button ng-click="displayNewWikiForm()">Créer</button>
<h1>Liste des wikis</h1>
<div class="row" ng-repeat="wiki in wikis.all">
	<div class="three cell">
		<a ng-click="openSelectedWiki(wiki)">[[wiki.title]]</a>
	</div>
	<div class="two cell">[[ wiki.owner.displayName ]]</div>
	<div class="two cell">[[ formatDate(wiki.modified) ]]</div>
	<div class="five cell">
		<button ng-click="displayEditWikiForm(wiki)">Renommer</button>
		<button ng-click="deleteWiki(wiki)">Supprimer</button>
		<button ng-click="shareWiki(wiki)">Partager</button>
	</div>
	
	<!-- Lightbox to share wikis -->
	<div ng-if="currentWiki._id">
		<lightbox show="display.showPanel" on-close="currentWiki = {}; display.showPanel = false;">
			<share-panel app-prefix="'wiki'" resources="currentWiki"/>
		</lightbox>
	</div>

</div>