<button ng-click="displayCreateWikiForm()" workflow="wiki.create" translate content="wiki.create"></button>
<h1 translate content="wiki.list.label"></h1>

<div class="row" workflow="wiki.list" ng-repeat="wiki in wikis.all">
	<div class="three cell">
		<a ng-click="openSelectedWiki(wiki)">[[wiki.title]]</a>
	</div>
	<div class="two cell">[[ wiki.owner.displayName ]]</div>
	<div class="two cell">[[ formatDate(wiki.modified) ]]</div>
	<div class="five cell">
		<behaviour name="edit" resource="wiki">
			<button ng-click="displayEditWikiForm(wiki)" translate content="wiki.update"></button>
		</behaviour>
		<behaviour name="deleteWiki" resource="wiki">
			<button ng-click="showDeleteWikiPopup(wiki)" translate content="wiki.delete"></button>
		</behaviour>
		<behaviour name="share" resource="wiki">
			<button ng-click="shareWiki(wiki)" translate content="wiki.share"></button>
		</behaviour>
	</div>
	
	<!-- Lightbox to share wikis -->
	<div ng-if="currentWiki._id">
		<lightbox show="display.showPanel" on-close="currentWiki = {}; display.showPanel = false;">
			<share-panel app-prefix="'wiki'" resources="currentWiki"/>
		</lightbox>
	</div>
	
	<!-- Lightbox to confirm wiki deletion -->
	<div ng-if="wikiToDelete._id">
		<lightbox show="display.showConfirmDelete" on-close="wikiToDelete = {}; display.showConfirmDelete = false">
		<h2>Supprimer un wiki</h2>
		<p>Voulez-vous vraiment supprimer le wiki [[wikiToDelete.title]] ?</p>
		<div class="row">
			<button ng-click="deleteWiki(wikiToDelete)" class="right-magnet">Supprimer</button>
			<button ng-click="display.showConfirmDelete = false" class="cancel right-magnet">Annuler</button>
		</div>
		</lightbox>
	</div>
	
</div>