<div class="three cell">
	<nav class="vertical">
		<h2>Wikis</h2>
		<ul>
			<li>
				<a data-reload href="/wiki">
					Parcourir les wikis
				</a>
			</li>
			<li>
				<a ng-click="listPages(selectedWiki._id)">
					Liste des pages
				</a>
			</li>
			<li ng-if="selectedWiki.index.length > 0">
				<a ng-click="openSelectedPage(selectedWiki._id, selectedWiki.index)">Page d'accueil</a>
			</li>
		</ul>
	</nav>
</div>
<ul class="nine cell toc">
	<alphabetical list="page in selectedWiki.pages.all">
		<li>
			<a ng-if="page._id === selectedWiki.index" ng-click="openSelectedPage(selectedWiki._id, page._id)">
				[[page.title]]
				<em><i18n>wiki.homepage.label</i18n></em>
			</a>
			<a ng-if="page._id !== selectedWiki.index" ng-click="openSelectedPage(selectedWiki._id, page._id)">[[page.title]]</a>
		</li>
	</alphabetical>
	<li ng-if="selectedWiki.pages.all.length === 0">Ce wiki est vide !</li>
</ul>