

<div class="row rigid-grid">
	<div class="three cell" ng-include="template.containers.sideMenu"></div>

	<article class="margin-three">
		<h2 class="cell">Versions</h2>

		<div class="ten cell display-buttons">
			<button ng-click="template.open('main', 'view-page')" class="cancel"><i18n>back</i18n></button>
		</div>
		<table class="twelve list-view">
			<thead>
			<tr>
				<th></th>
				<th>
					Par
				</th>
				<th>
					Date
				</th>
			</tr>
			</thead>
			<tbody>
			<tr ng-repeat="version in selectedWiki.page.versions.all" ng-class="{ checked: version.selected }">
				<td><input type="checkbox" ng-model="version.selected" /></td>
				<td ng-click="showVersion(version)">
					<a>[[version.username]]</a>
				</td>
				<td ng-click="showVersion(version)">
					<a>[[moment(version.date.$date).format('DD/MM/YYYY hh:mm')]]</a>
				</td>
			</tr>
			</tbody>

		</table>
	</article>
</div>

<div class="toggle-buttons" ng-class="{ hide: selectedWiki.page.versions.selection().length === 0 }">
	<div class="toggle">
		<button
				ng-if="selectedWiki.page.versions.selection().length === 1"
				ng-click="restoreVersion()"
				>
			<i18n>wiki.version.restore</i18n>
		</button>
		<button
				ng-if="selectedWiki.page.versions.selection().length === 2"
				ng-click="compareVersions()"
				>
			Comparer
		</button>
	</div>
</div>