<a ng-click="displayWikiList()" translate content="wiki.displaylist"></a>
<a ng-click="listPages(selectedWiki)" translate content="wiki.page.displaylist.label"></a>
<h1>[[selectedWiki.title]]</h1>
<article>
	<h2>[[selectedWiki.page.title]]</h2>
	<div bind-html="selectedWiki.page.content" />
</article>
<behaviour name="editPage" resource="selectedWiki" class="cell">
	<button ng-click="editPage(selectedWiki)" translate content="wiki.page.edit"></button>
</behaviour>
<behaviour name="deletePage" resource="selectedWiki" class="cell">
	<button ng-click="display.showConfirmDeletePage = true;" translate content="wiki.page.delete"></button>
</behaviour>

<!-- Lightbox to confirm page deletion -->
<lightbox show="display.showConfirmDeletePage" on-close="display.showConfirmDeletePage = false">
<h2>Supprimer une page</h2>
<p>Voulez-vous vraiment supprimer la page ?</p>
<div class="row">
	<button ng-click="deletePage(); display.showConfirmDeletePage = false;" class="right-magnet">Supprimer</button>
	<button ng-click="display.showConfirmDeletePage = false" class="cancel right-magnet">Annuler</button>
</div>
</lightbox>