<div ng-if="selectedWiki.index !== undefined && selectedWiki.index.trim().length > 0">
	<a ng-click="listPages(selectedWiki._id)" translate content="wiki.page.displaylist.label"></a>
</div>

<div class="row">
	<hr />
</div>

<article ng-if="selectedWiki.page !== undefined">
	<div class="row">
		<div class="seven cell">
			<h2>[[selectedWiki.page.title]]</h2>
		</div>
		<div class="five cell">
			<div class="display-buttons">
				<behaviour name="editPage" resource="selectedWiki" class="cell">
					<button ng-click="editPage(selectedWiki)" translate content="wiki.page.edit"></button>
				</behaviour>
				<behaviour name="deletePage" resource="selectedWiki" class="cell">
					<button ng-click="display.showConfirmDeletePage = true;" translate content="wiki.page.delete"></button>
				</behaviour>
			</div>
		</div>
	</div>
	
	<div bind-html="selectedWiki.page.content" />
</article>

<article ng-if="selectedWiki.page === undefined">
	<div class="row twelve cell">
		<p><i18n>wiki.page.empty</i18n></p>
	</div>
	<div class="clear"></div>
</article>

<!-- Lightbox to confirm page deletion -->
<lightbox show="display.showConfirmDeletePage" on-close="display.showConfirmDeletePage = false">
<h2><i18n>wiki.page.confirmdeleteform.title</i18n></h2>
<p><i18n>wiki.page.confirmdeleteform.message</i18n></p>
<div class="row">
	<button ng-click="deletePage(); display.showConfirmDeletePage = false;" class="right-magnet">
		<i18n>wiki.page.confirmdeleteform.title.delete</i18n>
	</button>
	<button ng-click="display.showConfirmDeletePage = false" class="cancel right-magnet">
		<i18n>wiki.page.confirmdeleteform.title.cancel</i18n>
	</button>
</div>
</lightbox>