<div class="row rigid-grid">
	<div class="three cell" ng-include="template.containers.sideMenu"></div>
	<div class="margin-three">
		<article class="twelve cell">
			<div class="twelve cell">
				<div class="row">
					<div class="seven cell">
						<h2>[[version.title]]</h2>
						<em>
							<i18n>Version du </i18n> [[getDateAndTime(version.date)]]
							<i18n>par</i18n>
							<a href="/userbook/annuaire#/[[version.userId]]">[[version.username]]</a>
						</em>
					</div>
					<div class="five cell">
						<div class="display-buttons">
							<resource-right name="editPage" resource="selectedWiki" class="cell right-magnet">
								<button ng-click="restoreVersion(version)">
									<i18n>wiki.version.restore</i18n>
								</button>
							</resource-right>
							<button class="cancel right-magnet" ng-click="template.open('main', 'versions')">
								<i18n>back</i18n>
							</button>
						</div>
					</div>
				</div>
				<div class="row">
					<hr />
				</div>

				<div bind-html="version.content" />
			</div>
		</article>
	</div>

</div>