<div class="row rigid-grid">
	<div class="three cell" ng-include="template.containers.sideMenu"></div>

	<div class="margin-three">
		<article ng-if="selectedWiki.page !== undefined" class="twelve cell">
			<div class="twelve cell">
				<div class="row">
					<div class="seven cell">
						<h2>[[selectedWiki.page.title]]</h2>
						<em ng-if="selectedWiki.page.modified" class="cell">
							<i18n>wiki.last.modification.by</i18n>
							<div ng-if="selectedWiki.page.lastContributer !== undefined">
								<a href="/userbook/annuaire#/[[selectedWiki.page.lastContributer]]">[[selectedWiki.page.lastContributerName]]</a>
							</div>
							<div ng-if="selectedWiki.page.lastContributer == undefined">
								<a href="/userbook/annuaire#/[[selectedWiki.page.author]]">[[selectedWiki.page.authorName]]</a>
							</div>
							<i18n>wiki.on</i18n> [[getDateAndTime(selectedWiki.page.modified)]]
						</em>
					</div>
					<div class="five cell">
						<div class="row">
							<plus class="right-magnet cell">
                                <button class="cell" ng-click="listVersions()">
                                    <i18n>wiki.page.versions</i18n>
                                </button>
								<button class="cell" ng-if="canCreatePageInAtLeastOneWiki()" ng-click="showDuplicatePageForm()">
									<i18n>wiki.page.duplicate</i18n>
								</button>
                                <button ng-if="canDeletePage(selectedWiki,selectedWiki.page)" ng-click="display.showConfirmDeletePage = true;">
                                    <i18n>wiki.page.delete</i18n>
                                </button>
							</plus>
							<resource-right name="comment" resource="selectedWiki" class="cell right-magnet">
								<button ng-click="showCommentForm()">
									<i18n>wiki.comment</i18n>
								</button>
							</resource-right>
							<resource-right name="editPage" resource="selectedWiki" class="cell right-magnet">
								<button ng-click="editPage(selectedWiki)">
									<i18n>edit</i18n>
								</button>
							</resource-right>
						</div>
						<div class="row">
							<em class="cell right-magnet">
								<a ng-click="switchCommentsDisplay()" class="medium-text right-magnet">
								<span ng-if="!selectedWiki.page.showComments && selectedWiki.page.comments && selectedWiki.page.comments.length > 0">
									<i18n>wiki.comment.display</i18n> ([[selectedWiki.page.comments.length]])
								</span>
								<span ng-if="selectedWiki.page.showComments && selectedWiki.page.comments && selectedWiki.page.comments.length > 0">
									<i18n>wiki.comment.hide</i18n> ([[selectedWiki.page.comments.length]])
								</span>
								</a>
							</em>
						</div>
				</div>
				
				<div bind-html="selectedWiki.page.content" />

				<div class="row" ng-if="selectedWiki.page.showCommentForm === true && !forceToClose">
					<div ng-include="template.containers.commentForm"></div>
				</div>

				<div class="row" ng-if="selectedWiki.page.showComments && !forceToClose">
					<div class="row" ng-repeat="comment in selectedWiki.page.comments">
						<article class="comment reduce-block-eight">
							<em>
								[[formatDate(comment.created)]], <i18n>wiki.by</i18n>
								<a href="/userbook/annuaire#[[comment.author]]">[[comment.authorName]]</a>
							</em>
							<a class="cell right-magnet" ng-click="removeComment(comment._id, $index)"
							   ng-if="(comment.author === me.userId || selectedWiki.myRights.deleteWiki)">
								<i18n>wiki.comment.delete</i18n>
							</a>
							<p>[[comment.comment]]</p>
						</article>
					</div>
				</div>
			</div>
				</div>
		</article>
	</div>

</div>


<!-- Lightbox to confirm page deletion -->
<lightbox show="display.showConfirmDeletePage" on-close="display.showConfirmDeletePage = false">
<h2><i18n>wiki.page.confirmdeleteform.title</i18n></h2>
<p><i18n>wiki.page.confirmdeleteform.message</i18n></p>
<div class="row">
	<button ng-click="deletePage(); display.showConfirmDeletePage = false;" class="right-magnet">
		<i18n>wiki.page.confirmdeleteform.title.delete</i18n>
	</button>
	<button ng-click="display.showConfirmDeletePage = false" class="cancel right-magnet">
		<i18n>wiki.page.confirmdeleteform.title.cancel</i18n>
	</button>
</div>
</lightbox>