.page-content-editor .ProseMirror[contenteditable='true'] {
  min-height: 180px;
}

.page-author {
  color: var(--edifice-gray-700);
}

.page-author:hover {
  color: rgba(var(--edifice-link-color-rgb), var(--edifice-link-opacity, 1));
  text-decoration: underline;
}

.separator {
  height: 16px;
  border: 0;
  border-left: 1px solid var(--edifice-gray-600);
}

.btn.stack {
  --edifice-btn-padding-x: 0.8rem;
  --edifice-btn-font-weight: 400;
}

.btn.stack span {
  justify-content: start;
}

.btn.stack.selected,
.btn.stack.selected:hover {
  --edifice-btn-bg: var(--edifice-secondary-200);
  --edifice-btn-hover-bg: var(--edifice-secondary-200);
}

.btn.stack.selected {
  --edifice-btn-font-weight: 700;
}

.btn.stack span>*:nth-child(2) {
  margin-left: auto;
}

[data-menubar-list]:focus,
[data-menubar-menuitem]:focus {
  outline: none;
}

[data-menubar-menuitem].focus>.btn:not(.selected) {
  background-color: var(--edifice-gray-300);
}