.page-content-editor .ProseMirror[contenteditable='true'] {
  min-height: 180px;
}

.page-author {
  color: var(--edifice-gray-700);
}

.page-author:hover {
  color: rgba(var(--edifice-link-color-rgb), var(--edifice-link-opacity, 1));
  text-decoration: underline;
}

.separator {
  height: 16px;
  border: 0;
  border-left: 1px solid var(--edifice-gray-600);
}

.indicator {
  position: relative;
  padding: 0;
  height: 8px;
  border-color: var(--edifice-secondary-300);
  background-color: var(--edifice-secondary-300);
  border-radius: 4px;
  margin-left: var(--indicator-spacing) !important;

  > * {
    /* Items are hidden using height and opacity to retain focus */
    opacity: 0;
    height: 0;
  }
}

.pages-assistant-wrapper .card .card-body .card-text.white-space-normal {
  white-space: normal;
}

.pages-assistant-wrapper .card {
  border-width: 2px;
}

.pages-assistant-wrapper .card .card-footer {
  background-color: #fff;
  padding-bottom: 24px;
}

.pages-assistant-wrapper .card.card-assistant-ai,
.pages-assistant-wrapper .card.card-assistant-ai:hover {
  border-color: #f9beef !important;
}

.pages-assistant-wrapper .card.card-assistant-ai .badge-beta{
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  min-height: 30px;
  font-size: 1.4rem;
  background-color: #FAEA9C;
  border-bottom-left-radius: 12px;
}

.pages-assistant-wrapper .card.card-import {
  background-color: var(--edifice-gray-300);
  border-color: #fff;
}

.pages-assistant-wrapper .card.card-import .card-footer {
  background-color: var(--edifice-gray-300);
}

.pages-assistant-wrapper .card.card-import .card-footer .btn-thumb-down:hover,
.pages-assistant-wrapper .card.card-import .card-footer .btn-thumb-up:hover,
.pages-assistant-wrapper .card.card-import .card-footer .btn-thumb-down.selected,
.pages-assistant-wrapper .card.card-import .card-footer .btn-thumb-up.selected {
  background-color: rgba(var(--edifice-white-rgb), var(--edifice-white-opacity, 1));
}

.pages-assistant-ai-wrapper .dropdown {
  min-width: 100%;
}

.pages-assistant-ai-wrapper .dropdown .dropdown-toggle {
  min-width: 100%;
  margin-bottom: 24px;
}
