<!DOCTYPE html>
<html class="print">
<head>
	<title>{{#i18n}}wiki.head.title{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<script src="/assets/js/entcore/ng-app.js?v=@@VERSION" id="context" type="text/javascript"></script>
	<script type="text/javascript" src="/wiki/public/dist/application.js?v=@@VERSION"></script>
    
	<style>
      @media print {
        @page {
          margin: 1.5cm;
        }
      }
    </style>
</head>
<body ng-controller="WikiController">
	<portal-styles></portal-styles>

	<div class="centered container row">
		<section class="main">
			<h1 class="app-title">
				<i class="wiki"></i>
				[[selectedWiki.title]]
			</h1>
			<div data-ng-repeat="page in selectedWiki.pages.all" class="row">
				<article class="twelve cell vertical-spacing-twice">
					<div class="title-spacing">
						<h3 class="upper-title">[[page.title]]</h3>
						<strong ng-if="page.modified" class="subtitle">
							<i18n>wiki.last.modification.by</i18n> [[page.authorName]] <i18n>wiki.on</i18n> [[getDateAndTime(page.modified)]]
						</strong>
					</div>

					<div class="row">
						<div class="twelve cell" bind-html="page.content"></div>
					</div>

				</article>
			</div>
		</section>
	</div>

</body>
</html>