.pages-assistant-wrapper .promotion-card {
  height: 100%;
}

.pages-assistant-wrapper .promotion-card.ai-border-gradient {
  background:
    linear-gradient(white, white) padding-box,
    linear-gradient(to right, #f9beef, #faea9c) border-box;
  border-radius: 2.4rem;
  border: 3px solid transparent;
}

.pages-assistant-wrapper .promotion-card .ai-background-gradient {
  background: linear-gradient(
    90deg,
    rgba(254, 225, 250, 1) 0%,
    rgba(252, 248, 226, 1) 100%
  );
}

.pages-assistant-wrapper .promotion-card .btn-thumb-down:hover,
.pages-assistant-wrapper .promotion-card .btn-thumb-up:hover,
.pages-assistant-wrapper .promotion-card .btn-thumb-down.selected,
.pages-assistant-wrapper .promotion-card .btn-thumb-up.selected {
  background-color: rgba(
    var(--edifice-white-rgb),
    var(--edifice-white-opacity, 1)
  );
}

.pages-assistant-ai-wrapper .dropdown {
  min-width: 100%;
}

.pages-assistant-ai-wrapper .dropdown .dropdown-toggle {
  min-width: 100%;
  margin-bottom: 24px;
}

.pages-assistant-ai-wrapper .simple-radio-card-container {
  transition: border-color 0.5s ease;
}

.pages-assistant-ai-wrapper .simple-radio-card-container:hover:not(.selected) {
  border-color: var(--edifice-secondary-bg-subtle) !important;
}
