<!DOCTYPE html>
<html>
<head>
	<title>{{#i18n}}wiki.head.title{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript"
		id="context"></script>
	<script src="/wiki/public/js/model.js" type="text/javascript"></script>
	<script src="/wiki/public/js/controller.js" type="text/javascript"></script>
	<script type="text/ng-template" id="empty"></script>
</head>
<body ng-controller="WikiController">
	<portal ng-if="!notFound">
		<div class="row">
			<div class="twelve cell">
				<div class="eight cell">
					<h1>
						<i class="wiki"></i>
						<a ng-click="displayWikiList()">[[applicationName]]</a>
						<span ng-if="selectedWiki.title && selectedWiki.title.trim().length > 0">
							: <a ng-click="viewWiki(selectedWiki._id)">[[selectedWiki.title]]</a>
						</span>
					</h1>
				</div>
				<div class="contextual-buttons four cell">
					<button ng-if="!selectedWiki || !selectedWiki._id" ng-click="displayCreateWikiForm()" workflow="wiki.create" class="cell right-magnet">
						<i18n>wiki.create</i18n>
					</button>
					<drop-down-button class="cell right-magnet" ng-if="selectedWiki && selectedWiki._id">
						<label class="opener"><i18n>plus</i18n></label>
						<opts>
							<li>
								<a workflow="wiki.print" ng-if="selectedWiki._id" ng-href="/wiki/print?wiki=[[selectedWiki._id]]" target="_blank">
									<i18n>wiki.print</i18n>
								</a>
							</li>
							<resource-right name="share" resource="selectedWiki">
								<li ng-click="display.showPanelForCurrentWiki = true" ng-if="selectedWiki">
									<i18n>wiki.share.current.wiki</i18n>
								</li>
							</resource-right>
						</opts>
					</drop-down-button>
					<resource-right name="createPage" resource="selectedWiki" class="cell right-magnet">
						<button ng-click="newPage()" translate content="wiki.create.new.page" ng-if="selectedWiki"></button>
					</resource-right>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		<section>
			<div class="row">
				<!-- search bar -->
				<div class="twelve cell">
					<autocomplete
							workflow="wiki.listAllPages"
							options="searchbar.allpageslist"
							ng-change="openPageFromSearchbar(selectedPage.wiki_id, selectedPage._id)"
							ng-model="selectedPage"
							ng-if="!isCreatingOrEditing()">
					</autocomplete>
				</div>
			</div>
			<container template="main"></container>
			<div class="row">
				<hr />
			</div>
		</section>
		
		<!-- Lightbox to share wikis -->
		<div ng-if="display.showPanelForCurrentWiki">
			<lightbox show="display.showPanelForCurrentWiki" on-close="display.showPanelForCurrentWiki = false;">
				<share-panel app-prefix="'wiki'" resources="selectedWiki"/>
			</lightbox>
		</div>
	</portal>
	
	<div ng-if="notFound">
		<div ng-if="!me.userId" class="absolute">
			<default-styles>
		
				<h1><a data-reload><i class="oops"></i><i18n>oops</i18n></a></h1>
				<article>
					<div class="row">
						<i18n>wiki.or.page.notfound.or.unauthorized</i18n>
					</div>
		
					<div class="row vertical-spacing-twice">
						<button data-reload onclick="history.go(-1)"><i18n>back</i18n></button>
					</div>
				</article>
		
			</default-styles>
		</div>
		<div ng-if="me.userId" class="absolute">
			<portal>
		
				<h1><a data-reload><i class="oops"></i><i18n>oops</i18n></a></h1>
				<article>
					<div class="row">
						<i18n>wiki.or.page.notfound.or.unauthorized</i18n>
					</div>
		
					<div class="row vertical-spacing-twice">
						<button data-reload onclick="history.go(-1)"><i18n>back</i18n></button>
					</div>
				</article>
			</portal>
		</div>
	</div>
	
</body>
</html>