<!DOCTYPE html>
<html>
<head>
	<title>{{#i18n}}wiki.head.title{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript"
		id="context"></script>
	<script src="/wiki/public/js/model.js" type="text/javascript"></script>
	<script src="/wiki/public/js/controller.js" type="text/javascript"></script>
	<script type="text/ng-template" id="empty"></script>
</head>
<body ng-controller="WikiController">
	<portal>
		<div class="row">
			<div class="nine cell">
			<h1 ng-if="selectedWiki.title && selectedWiki.title!==''">
				<a ng-click="displayWikiList()">[[applicationName]]</a> : 
				<a ng-click="listPages(selectedWiki)">[[selectedWiki.title]]</a>
			</h1>
			<h1 ng-if="!(selectedWiki.title && selectedWiki.title!=='')">
				<a ng-click="displayWikiList()">[[applicationName]]</a>
			</h1>	
					
			</div>
			<div class="three cell">
				<autocomplete
					workflow="wiki.listAllPages"
					options="allpageslist"
					ng-change="openSelectedPage(selectedPage.wiki_id, selectedPage._id)"
					ng-model="selectedPage">
				</autocomplete>
			</div>
		</div>
		<section>
			<container template="main"></container>
			<div class="row">
				<hr />
			</div>
		</section>
	</portal>
</body>
</html>