<!DOCTYPE html>
<html>
<head>
	<title translate content="wiki.head.title"></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript"
		id="context"></script>
	<script src="/wiki/public/js/model.js" type="text/javascript"></script>
	<script src="/wiki/public/js/controller.js" type="text/javascript"></script>
	<script type="text/ng-template" id="empty"></script>
</head>
<body>
	<portal>
		<!-- TODO : créer les libellés dans les fichiers i18n -->
		<section ng-controller="WikiController">
			<container template="main"></container>
			
			<div class="row reduce-block-six" ng-if="showSelectedPage">
			Vous avez sélectionné la page "[[selectedPage.title]]", d'id [[selectedPage._id]]
			et de wiki_id [[selectedPage.wiki_id]]
			</div>
			<autocomplete
				options="allpageslist"
				ng-change="showSelectedPage=true"
				ng-model="selectedPage">
			</autocomplete>

		</section>
	</portal>
</body>
</html>