<p ng-if="!wikis"><i18n>linker.notfound</i18n></p>

<p ng-if="wikis"><i18n>wiki.search.returns.no.page</i18n></p>

<div ng-if="wikis" class="twelve cell">
	<article>
		<form class="row">
			<div class="row">
				<label class="three cell"><i18n>wiki.linkerform.pagetitle.label</i18n></label>
				<input type="text" class="nine cell" ng-model="linker.resource.title" required 
				translate-attr="placeholder" placeholder="wiki.page.createform.input.placeholder" />
			</div>
			<div class="row">
				<label class="three cell"><i18n>wiki.linkerform.wiki.label</i18n></label>
				<select class="nine cell" ng-model="linker.resource.wiki_id" 
				ng-init="linker.resource.wiki_id = selectedWiki._id" 
				ng-options="wiki._id as wiki.title for wiki in wikis.all.filter(canCreatePage)" required>
				</select>
			</div>
			<div class="row">
				<input type="button" class="right-magnet" ng-click="linker.createResource()" 
				i18n-value="wiki.linkerform.create.page" ng-if="!linker.resource.loading"/>
			</div>
			<div class="clear"></div>
		</form>
	</article>
</div>