<div ng-if="display.action === 'wikiNotFound'" class="twelve cell">
	<default-styles>
		<h1><a data-reload><i class="oops"></i><i18n>oops</i18n></a></h1>
		<article>
			<div class="row">
				<i18n>wiki.notfound.or.unauthorized</i18n>
			</div>
		</article>
	</default-styles>
</div>

<div ng-if="display.action !== 'wikiNotFound'" class="twelve cell">
	<div class="twelve cell">
		<div class="twelve cell">
			<h2>
				<i class="wiki"></i>
				<span>[[wiki.title]]</span>
			</h2>
		</div>
		<div class="contextual-buttons twelve cell" ng-if="display.action === 'viewPage' || display.action === 'pagesList'">
			<drop-down-button ng-if="displayDropDownButton(wiki) === true" class="cell right-magnet">
				<label class="opener"><i18n>plus</i18n></label>
				<opts>
					<div>
						<resource-right name="deletePage" resource="wiki" ng-if="display.action === 'viewPage'">
							<li ng-click="display.showConfirmDeletePage = true;">
								<i18n>wiki.page.delete</i18n>
							</li>
						</resource-right>
						<li ng-if="canCreatePageInAtLeastOneWiki() && display.action === 'viewPage'" ng-click="showDuplicatePageForm()">
							<i18n>wiki.page.duplicate</i18n>
						</li>
						<resource-right name="editPage" resource="wiki">
							<li ng-click="listVersions()"  ng-if="display.action === 'viewPage'">
								<i18n>wiki.page.versions</i18n>
							</li>
						</resource-right>
						<li>
							<a workflow="wiki.print" ng-if="wiki._id" ng-href="/wiki/print?wiki=[[wiki._id]]" target="_blank">
								<i18n>wiki.print</i18n>
							</a>
						</li>
					</div>
				</opts>
			</drop-down-button>
	
			<resource-right name="editPage" resource="wiki" ng-if="display.action === 'viewPage'" class="cell right-magnet">
				<button ng-click="editPage()">
					<i18n>wiki.page.edit</i18n>
				</button>
			</resource-right>
			<resource-right name="createPage" resource="wiki" class="cell right-magnet">
				<button ng-click="newPage()" translate content="wiki.create.new.page" ng-if="wiki"></button>
			</resource-right>
		</div>
	</div>
	
	<div ng-if="display.action === 'pagesList'" class="twelve cell">
		<ul class="twelve cell wiki-sniplet">
			<alphabetical list="page in wiki.pages.all" class="twelve cell">
				<li>
					<a ng-if="page._id === wiki.index" ng-click="openPage(page._id)"> 
						[[page.title]]
						<em>[<i18n>wiki.homepage.label</i18n>]</em>
					</a>
					<a ng-if="page._id !== wiki.index" ng-click="openPage(page._id)">[[page.title]]</a>
				</li>
			</alphabetical>
			<li ng-if="wiki.pages.all.length === 0"><i18n>wiki.contains.no.page</i18n></li>
		</ul>
	</div>
	
	<div ng-if="display.action === 'viewPage' && wiki.page !== undefined" class="twelve cell">
		<div>
			<article class="twelve cell">
				<div class="twelve cell">
					<div class="twelve cell">
						<h2>[[wiki.page.title]]</h2>
						<em ng-if="wiki.page.modified">
							<i18n>wiki.last.modification.by</i18n>
							<a href="/userbook/annuaire#/[[wiki.page.author]]">[[wiki.page.authorName]]</a>
							<i18n>wiki.on</i18n> [[getDateAndTime(wiki.page.modified)]]
						</em>
					</div>
					<div class="twelve cell">
						<hr />
					</div>
	
					<div bind-html="wiki.page.content" />
					
					<!-- comments -->
					<div>
						<div class="twelve cell content-line">
							<div class="right-magnet">
								<resource-right name="comment" resource="wiki">
									<a ng-click="showCommentForm()" ng-if="!wiki.page.comments || wiki.page.comments.length === 0" class="medium-text right-magnet">
										<i18n>wiki.comment.add</i18n>
									</a>
								</resource-right>
								<a ng-click="switchCommentsDisplay()" class="medium-text right-magnet">
								<span ng-if="!wiki.page.showComments && wiki.page.comments && wiki.page.comments.length > 0">
									<i18n>wiki.comment.display</i18n> ([[wiki.page.comments.length]])
								</span>
								<span ng-if="wiki.page.showComments && wiki.page.comments && wiki.page.comments.length > 0">
									<i18n>wiki.comment.hide</i18n> ([[wiki.page.comments.length]])
								</span>
								</a>
							</div>
							<div class="clear"></div>
						</div>
		
						<div class="twelve cell" ng-if="wiki.page.showCommentForm === true">
							<resource-right name="comment" resource="wiki">
								<form>
									<textarea ng-model="wiki.page.newComment" i18n-placeholder="wiki.label.write.your.comment"></textarea>
									<div>
										<button class="button right-magnet" ng-click="commentPage()" translate content="wiki.comment.save"></button>
									</div>
									<div class="clear"></div>
								</form>
							</resource-right>
						</div>
		
						<div class="twelve cell" ng-if="wiki.page.showComments">
							<div class="row" ng-repeat="comment in wiki.page.comments">
								<article class="comment reduce-block-eight">
									<a href="/userbook/annuaire#[[comment.author]]">[[comment.authorName]]</a>
									<em><i18n>wiki.on</i18n> [[formatDate(comment.created)]]</em>
									<a class="cell right-magnet" ng-click="removeComment(comment._id, $index)"
									   ng-if="(comment.author === me.userId || wiki.myRights.deleteWiki)">
										<i18n>wiki.comment.delete</i18n>
									</a>
									<p>[[comment.comment]]</p>
								</article>
							</div>
						</div>
					</div>
					
				</div>
			</article>
		</div>
	</div>
	
	<div ng-if="display.action === 'pageNotFound'" class="twelve cell">
		<default-styles>
			<h1><a data-reload><i class="oops"></i><i18n>oops</i18n></a></h1>
			<article>
				<div class="row">
					<i18n>wiki.or.page.notfound.or.unauthorized</i18n>
				</div>
			</article>
		</default-styles>
	</div>
	
	<div ng-if="display.action === 'createPage'" class="wiki-sniplet">
		<div class="twelve cell">
				<div class="twelve cell">
					<input type="text" ng-model="wiki.newPage.title" i18n-placeholder="wiki.page.createform.input.placeholder" class="twelve cell" />
				</div>
				<div class="twelve cell">
					<input type="checkbox" ng-model="wiki.newPage.isIndex" />
					<i18n>wiki.page.createform.set.as.index</i18n>
				</div>
				<div class="twelve cell">
					<html-editor ng-model="wiki.newPage.content"></html-editor>
				</div>
		</div>
		<div class="twelve cell">
			<div ng-if="!wiki.processing">
				<button class="right-magnet cell" ng-click="createPage()" translate content="wiki.page.createform.save"></button>
				<button class="right-magnet cell cancel" ng-click="cancelCreatePage()" translate content="wiki.page.createform.cancel"></button>
			</div>
			<button ng-if="wiki.processing === true" class="right-magnet disabled" disabled>
				<i18n>wiki.processing</i18n>
			</button>
		</div>
	</div>
	
	<div ng-if="display.action === 'editPage'" class="wiki-sniplet">
		<div class="twelve cell">
			<div class="twelve cell">
				<input type="text" ng-model="wiki.editedPage.title" class="twelve cell" />
			</div>
			<div class="twelve cell">
				<input type="checkbox" ng-model="wiki.editedPage.isIndex"/>
				<i18n>wiki.page.editform.set.as.index</i18n>
			</div>
			<div class="twelve cell">
				<html-editor ng-model="wiki.editedPage.content"></html-editor>
			</div>
		</div>
		<div class="twelve cell">
			<div ng-if="!wiki.processing">
				<button class="right-magnet" ng-click="updatePage()" translate content="wiki.page.editform.save"></button>
				<button class="right-magnet cancel" ng-click="cancelEditPage()" translate content="wiki.page.editform.cancel"></button>
			</div>
			<button ng-if="wiki.processing === true" class="right-magnet disabled" disabled>
				<i18n>wiki.processing</i18n>
			</button>
		</div>
	</div>
	
	<div ng-if="display.action === 'duplicatePage'" class="wiki-sniplet">
		<div class="twelve cell">
			<h2>
				<i18n>wiki.page.duplicateform.duplicate.page</i18n>
				<em>[[wiki.page.title]]</em>
				<i18n>wiki.page.duplicateform.in.a.wiki.of.your.choice</i18n>
			</h2>
		</div>
		<hr class="twelve cell"/>
		<form class="twelve cell">
			<div class="twelve cell">
				<input type="text" ng-model="wikiDuplicate.page.title" class="twelve cell" 
				i18n-placeholder="wiki.page.duplicateform.title.input.placeholder"/>
			</div>
			<hr class="twelve cell"/>
			<div class="twelve cell">
				<select class="twelve cell" ng-model="wikiDuplicate.targetWikiId" 
				ng-init="canCreatePage(wiki) ? (wikiDuplicate.targetWikiId = wiki._id) : (wikiDuplicate.targetWikiId = editableWikis[0]._id)" 
				ng-options="wiki._id as wiki.title for wiki in editableWikis" required>
				</select>
			</div>
			<hr class="twelve cell"/>
			
			<div class="twelve cell">
				<button class="right-magnet" ng-click="duplicatePage()" translate content="wiki.page.duplicateform.save"></button>
				<button class="right-magnet cancel" ng-click="cancelDuplicatePage()" translate content="wiki.page.duplicateform.cancel"></button>
			</div>
		</form>
	</div>
	
	<div ng-if="display.action === 'versions'">
		<article>
			<h2 class="cell"><i18n>wiki.page.versions</i18n></h2>
			<div class="display-buttons">
				<button ng-click="display.action = 'viewPage'" class="cancel"><i18n>back</i18n></button>
			</div>
			
			<table class="twelve list-view">
				<thead>
				<tr>
					<th></th>
					<th>
						<i18n>wiki.by</i18n>
					</th>
					<th>
						<i18n>wiki.on</i18n>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr ng-repeat="version in wiki.page.versions.all" ng-class="{ checked: version.selected }">
					<td><input type="checkbox" ng-model="version.selected" /></td>
					<td ng-click="showVersion(version)">
						<a>[[version.username]]</a>
					</td>
					<td ng-click="showVersion(version)">
						<a>[[formatDate(version.date)]]</a>
					</td>
				</tr>
				</tbody>
			</table>
		</article>
	</div>
	
	<div ng-if="display.action === 'viewVersion'">
		<article class="twelve cell">
			<div class="twelve cell wiki-sniplet">
				<div class="row">
					<div class="seven cell">
						<h2>[[display.version.title]]</h2>
						<em>
							<i18n>Version du </i18n> [[getDateAndTime(display.version.date)]]
							<i18n>par</i18n>
							<a href="/userbook/annuaire#/[[wiki.page.author]]">[[display.version.username]]</a>
						</em>
					</div>
					<div class="five cell">
						<div class="display-buttons">
							<resource-right name="editPage" resource="wiki" class="cell right-magnet">
								<button ng-click="restoreVersion(display.version)">
									<i18n>wiki.version.restore</i18n>
								</button>
							</resource-right>
							<button class="cancel right-magnet" ng-click="display.action = 'versions';">
								<i18n>back</i18n>
							</button>
						</div>
					</div>
				</div>
				<div class="row">
					<hr />
				</div>

				<div bind-html="display.version.content" />
			</div>
		</article>
	</div>
	
	<div ng-if="display.action === 'compareVersions'" class="wiki-sniplet">
		<div class="row">
			<h2 class="cell">Comparer</h2>
			<div class="ten cell display-buttons">
				<button ng-click="display.action = 'versions';" class="cancel"><i18n>back</i18n></button>
			</div>
		</div>
		
		<table class="twelve compare list-view">
			<thead>
				<tr>
					<th class="six">
						Version du [[formatDate(display.leftCompare.date)]] par [[display.leftCompare.username]]
					</th>
					<th class="six">
						Version du [[formatDate(display.rightCompare.date)]] par [[display.rightCompare.username]]
					</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><button ng-click="restoreVersion(display.leftCompare)"><i18n>wiki.version.restore</i18n></button></td>
					<td><button ng-click="restoreVersion(display.rightCompare)"><i18n>wiki.version.restore</i18n></button></td>
				</tr>
				<tr>
					<td>
						<div bind-html="display.comparison.left"></div>
					</td>
					<td>
						<div bind-html="display.comparison.right"></div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>


<!-- Lightbox to confirm page deletion -->
<lightbox show="display.showConfirmDeletePage" on-close="display.showConfirmDeletePage = false">
	<h2><i18n>wiki.page.confirmdeleteform.title</i18n></h2>
	<p><i18n>wiki.page.confirmdeleteform.message</i18n></p>
	<div class="row">
		<button ng-click="deletePage(); display.showConfirmDeletePage = false;" class="right-magnet">
			<i18n>wiki.page.confirmdeleteform.title.delete</i18n>
		</button>
		<button ng-click="display.showConfirmDeletePage = false" class="cancel right-magnet">
			<i18n>wiki.page.confirmdeleteform.title.cancel</i18n>
		</button>
	</div>
</lightbox>

<!-- Side panel -->
<div ng-class="{ 'toggle-panel sniplet': true, hide: !display.showPanel }">
	<div class="toggle cell">
		<div class="content">
			<div ng-if="wiki.lastPages" class="vertical">
				<h2><i18n>wiki.last.modified.pages</i18n></h2>
				<ul>
					<li ng-repeat="page in wiki.lastPages">
					   <a ng-click="openPageFromSidepanel(page._id)">[[page.title]]</a> 
					    - [[getRelativeTimeFromDate(page.modified)]]
					</li>
				</ul>
			</div>
			<div>
				<h2><i18n>wiki.all.pages</i18n></h2>
				<div class="wiki-sniplet">
					<!-- search bar -->
					<autocomplete
						workflow="wiki.listAllPages"
						options="searchbar.allpageslist"
						ng-model="selectedPage"
						ng-change="openPageFromSearchbar(selectedPage.wiki_id, selectedPage._id)">
					</autocomplete>
				</div>
				<ul>
					<li ng-repeat="page in wiki.pages.all | orderBy: 'title'">
						<a ng-click="openPageFromSidepanel(page._id)">[[page.title]] 
							<em ng-if="page._id === wiki.index">[<i18n>wiki.homepage.label</i18n>]</em>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<ul class="icons-tabs sniplet">
	<li ng-click="togglePanel($event)" ng-class="{ active: display.showPanel }"><i class="chevron-right"></i></li>
</ul>

<!-- Buttons to restore or compare versions -->
<div ng-if="display.action === 'versions'">
	<div class="toggle-buttons" ng-class="{ hide: wiki.page.versions.selection().length === 0 }">
		<div class="toggle">
			<button
					ng-if="wiki.page.versions.selection().length === 1"
					ng-click="restoreVersion()"
					>
				<i18n>wiki.version.restore</i18n>
			</button>
			<button
					ng-if="wiki.page.versions.selection().length === 2"
					ng-click="compareVersions()"
					>
				<i18n>wiki.version.compare</i18n>
			</button>
		</div>
	</div>
</div>
