<link href="/wiki/public/css/additional.css" rel="stylesheet">

<div class="twelve cell">
	<div class="nine cell">
		<h2>
			<i class="wiki"></i>
			<span>[[wiki.title]]</span>
		</h2>
	</div>
	<div class="contextual-buttons three cell">
		<resource-right name="createPage" resource="wiki" class="cell right-magnet">
			<button ng-click="newPage()" translate content="wiki.create.new.page" ng-if="wiki"></button>
		</resource-right>
	</div>
</div>


<br>
<div class="wiki-sniplet accordions">
	<article class="accordion" ng-class="{opened: accordionOp && accordionOp.value === 1}">
		<a ng-click="toggleAccordion()">Naviguer au sein du wiki</a> <!-- TODO i18n -->
		<div class="toggle">
			<div class="content">
				<div ng-if="display.action !== 'pagesList'">
					<a ng-click="listPages()"><i18n>wiki.pagelist</i18n></a>
					<br>
				</div>
				<div ng-if="wiki.index && wiki.index.length > 0 && (wiki.page === undefined || wiki.page._id !== wiki.index)">
					<a ng-click="openPage(wiki.index)">
						<i18n>wiki.homepage.label</i18n>
					</a>
					<br>
				</div>
				<div ng-if="wiki.lastPages" class="vertical">
					<span>
						<i18n>wiki.last.modified.pages</i18n>
					</span>
					<ul>
						<li ng-repeat="page in wiki.lastPages">
						   <a ng-click="openPage(page._id)">
						           [[page.title]] 
						   </a> - [[getRelativeTimeFromDate(page.modified)]]
						</li>
					</ul>
				</div>
			</div>
		</div>
	</article>
</div>


<div ng-if="display.action === 'pagesList'" class="twelve cell">
	<ul class="twelve cell" >
<!-- TODO : adapt CSS, so that it properly displays directive 'alphabetical' -->
<!-- 			<alphabetical list="page in wiki.pages.all" class="twelve cell"> -->
				<li ng-repeat="page in wiki.pages.all">
					<a ng-if="page._id === wiki.index" ng-click="openPage(page._id)"> 
						[[page.title]]
						<em>[<i18n>wiki.homepage.label</i18n>]</em>
					</a>
					<a ng-if="page._id !== wiki.index" ng-click="openPage(page._id)">[[page.title]]</a>
				</li>
<!-- 			</alphabetical> -->
			<li ng-if="wiki.pages.all.length === 0"><i18n>wiki.contains.no.page</i18n></li>
	</ul>
</div>

<div ng-if="display.action === 'viewPage' && wiki.page !== undefined" class="twelve cell">
	<div>
		<article class="twelve cell">
			<div class="twelve cell">
				<div class="twelve cell">
					<div class="seven cell">
						<h2>[[wiki.page.title]]</h2>
						<em ng-if="wiki.page.modified">
							<i18n>wiki.last.modification.by</i18n>
							<a href="/userbook/annuaire#/[[wiki.page.author]]">[[wiki.page.authorName]]</a>
							<i18n>wiki.on</i18n> [[getDateAndTime(wiki.page.modified)]]
						</em>
					</div>

					<div class="five cell">
						<div class="display-buttons">
							<resource-right name="deletePage" resource="wiki" class="cell right-magnet">
								<button ng-click="display.showConfirmDeletePage = true;">
									<i18n>wiki.page.delete</i18n>
								</button>
							</resource-right>
							<resource-right name="editPage" resource="wiki" class="cell right-magnet">
								<button ng-click="editPage()">
									<i18n>wiki.page.edit</i18n>
								</button>
							</resource-right>
						</div>
					</div>
					
				</div>
				<div class="twelve cell">
					<hr />
				</div>

				<div bind-html="wiki.page.content" />
			</div>
		</article>
	</div>
</div>

<div ng-if="display.action === 'createPage'" class="wiki-sniplet">
	<div class="twelve cell">
			<div class="twelve cell">
				<input type="text" ng-model="wiki.newPage.title" i18n-placeholder="wiki.page.createform.input.placeholder" class="twelve cell" />
			</div>
			<div class="twelve cell">
				<input type="checkbox" ng-model="wiki.newPage.isIndex" />
				<i18n>wiki.page.createform.set.as.index</i18n>
			</div>
			<div class="twelve cell">
				<html-editor ng-model="wiki.newPage.content"></html-editor>
			</div>
	</div>
	<div class="twelve cell">
		<div ng-if="!wiki.processing">
			<button class="right-magnet cell" ng-click="createPage()" translate content="wiki.page.createform.save"></button>
			<button class="right-magnet cell cancel" ng-click="cancelCreatePage()" translate content="wiki.page.createform.cancel"></button>
		</div>
		<button ng-if="wiki.processing === true" class="right-magnet disabled" disabled>
			<i18n>wiki.processing</i18n>
		</button>
	</div>
</div>

<div ng-if="display.action === 'editPage'" class="wiki-sniplet">
	<div class="twelve cell">
		<div class="twelve cell">
			<input type="text" ng-model="wiki.editedPage.title" class="twelve cell" />
		</div>
		<div class="twelve cell">
			<input type="checkbox" ng-model="wiki.editedPage.isIndex"/>
			<i18n>wiki.page.editform.set.as.index</i18n>
		</div>
		<div class="twelve cell">
			<html-editor ng-model="wiki.editedPage.content"></html-editor>
		</div>
	</div>
	<div class="twelve cell">
		<div ng-if="!wiki.processing">
			<button class="right-magnet" ng-click="updatePage()" translate content="wiki.page.editform.save"></button>
			<button class="right-magnet cancel" ng-click="cancelEditPage()" translate content="wiki.page.editform.cancel"></button>
		</div>
		<button ng-if="wiki.processing === true" class="right-magnet disabled" disabled>
			<i18n>wiki.processing</i18n>
		</button>
	</div>
</div>


<!-- Lightbox to confirm page deletion -->
<lightbox show="display.showConfirmDeletePage" on-close="display.showConfirmDeletePage = false">
	<h2><i18n>wiki.page.confirmdeleteform.title</i18n></h2>
	<p><i18n>wiki.page.confirmdeleteform.message</i18n></p>
	<div class="row">
		<button ng-click="deletePage(); display.showConfirmDeletePage = false;" class="right-magnet">
			<i18n>wiki.page.confirmdeleteform.title.delete</i18n>
		</button>
		<button ng-click="display.showConfirmDeletePage = false" class="cancel right-magnet">
			<i18n>wiki.page.confirmdeleteform.title.cancel</i18n>
		</button>
	</div>
</lightbox>