<div class="row accordions">
	<article class="accordion" ng-class="{ opened: !existingWiki }">
		<h2 ng-click="existingWiki = false;"><i18n>wiki.new</i18n></h2>
		<div class="toggle">
			<div class="content">
				<p class="info">
					<i18n>wiki.you.create</i18n>
				</p>
				<input type="text" ng-model="wiki.title" i18n-placeholder="wiki.createform.input.placeholder" class="twelve cell" />
				<div class="row">
					<input type="button" i18n-value="create" ng-click="createWiki()" class="cell right-magnet" />
				</div> 
			</div>
		</div>
	</article>
	
	<article class="accordion" ng-class="{ opened: existingWiki }">
		<h2 ng-click="existingWiki = true;"><i18n>wiki.select.a.wiki</i18n></h2>
		<div class="toggle">
			<div class="content">
				<div ng-if="!wikis" class="twelve cell">
					<i18n>wiki.no.wiki.found</i18n>
				</div>
				
				<div ng-if="wikis" class="twelve cell">
					<input type="search" ng-model="searchText" i18n-placeholder="wiki.sniplet.search.existing.wiki" class="twelve cell"/>
				
					<div class="row">
						<article class="found-resources">
							<ul class="illustrated-list">
								<li ng-repeat="wiki in wikis | filter:searchText" ng-click="setSnipletSource({_id:wiki._id}); snipletResource.synchronizeRights();">
									<img skin-src="[[wiki.thumbnail || '/img/illustrations/wiki-default.png']]" />
									<a class="name">[[wiki.title]]</a>
									<em class="owner">[[wiki.owner.displayName]]</em>
								</li>
							</ul>
						</article>
					</div>
				</div>
			</div>
		</div>
	</article>
</div>